// @use "sass:color";

// material color palette
@use "@material/theme/color-palette";

// custom defined colors
@use "@material/theme/index" as theme with ($primary: #109405,
  $secondary: #8BE283,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900);

// material typography
@use "@material/typography/mdc-typography";


@use "@material/elevation/mdc-elevation";

@use '@material/linear-progress/index' as linear-progress;


// font custom applicati agli stili material 
[class^="mdc-typography--headline"] {
  font-family: 'Saira Extra Condensed', sans-serif !important;
  color: theme.$primary;
}

[class^="mdc-typography--body"],
[class^="mdc-typography--button"],
[class^="mdc-typography--subtitle"] {
  font-family: 'Saira Semi Condensed', sans-serif !important;
}

// override della grandezza dei testi
// TODO correggere le grandezze dei font (mettere in em al posto di px)
.mdc-typography--headline4 {
  line-height: 1.5em;
}

.mdc-typography--body1 {
  font-size: 20px;
  line-height: 1.52em;
}

.mdc-typography--subtitle1 {
  font-size: 18px;
  line-height: 1.4em;
}

.mdc-typography--subtitle2 {
  font-size: 16px;
}

.mdc-typography--button {
  font-size: 1.2em;
  letter-spacing: 0.03em;
}


// custom progress bar color
// .gradient-bar {
//   // @include linear-progress.bar-color(linear-gradient(to right, red, yellow));
//   @include linear-progress.bar-color(red);
// }

// altre properties globali per elementi e classi
html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
}

div[id^="content-"] {
  justify-content: center;
  transition: all 0.5s;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.mirrored {
  transform: rotateY(180deg);
}

.highlight {
  font-weight: bolder;
  color: theme.$primary;
  text-transform: uppercase;

}

.bold {
  font-weight: bolder;
}

.primary {
  color: theme.$primary;
}

.secondary {
  color: theme.$secondary;
}

.error {
  color: theme.$error;
}

.flex-row,
.flex-row-8 {
  display: flex;
  flex-direction: row;
}

.flex-row-8 {
  gap: 8vw;
}

.flex-column,
.flex-column-4,
.flex-column-8 {
  display: flex;
  flex-direction: column;
}

.flex-column-4 {
  gap: 4vh;
}

.flex-column-8 {
  gap: 8vh;
}