// material libraries
@use "@material/theme/color-palette";

// custom defined colors
@use "@material/theme/index" as theme with ($primary: #109405,
  $secondary: #8BE283,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900);

@use "@material/typography/mdc-typography";

@use "@material/elevation/mdc-elevation";

@use '@material/linear-progress/index' as linear-progress;

@use "@material/shape";

// font custom applicati agli stili material 
[class^="mdc-typography--headline"] {
  font-family: 'Saira Extra Condensed', sans-serif !important;
  color: theme.$primary;
}

[class^="mdc-typography--body"],
[class^="mdc-typography--button"],
[class^="mdc-typography--subtitle"] {
  font-family: 'Saira Semi Condensed', sans-serif !important;
}


@media (min-width: 1300px) {
  .mdc-typography--headline4 {
    font-size: 2.2em;
    line-height: 1.5em;
  }

  .mdc-typography--headline6 {
    font-size: 1.1em;
  }

  .mdc-typography--body1 {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  .mdc-typography--subtitle1 {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .mdc-typography--button {
    font-size: 1.2em;
    letter-spacing: 0.03em;
  }
}


@media (min-width: 1000px) and (max-width: 1299px) {
  .mdc-typography--headline4 {
    font-size: 2em;
    line-height: 1.3em;
  }

  .mdc-typography--headline6 {
    font-size: 0.9em;
  }

  .mdc-typography--body1 {
    font-size: 1em;
    line-height: 1.3em;
  }

  .mdc-typography--subtitle1 {
    font-size: 0.9em;
    line-height: 1.2em;
  }

  .mdc-typography--button {
    font-size: 1em;
    letter-spacing: 0.01em;
  }
}



// override della grandezza dei testi

// TODO correggere le grandezze dei font (mettere in em al posto di px)


// altre properties globali per elementi e classi
html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
}

div[id^="content-"] {
  justify-content: center;
  transition: all 0.5s;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.mirrored {
  transform: rotateY(180deg);
}

.highlight {
  font-weight: bolder;
  color: theme.$primary;
  text-transform: uppercase;

}

.bold {
  font-weight: bolder;
}

.primary {
  color: theme.$primary;
}

.secondary {
  color: theme.$secondary;
}

.error {
  color: theme.$error;
}

.flex-row,
.flex-row-32,
.flex-row-16 {
  display: flex;
  flex-direction: row;
}

.flex-row-16 {
  gap: 16px;
}

.flex-row-32 {
  gap: 32px;
}

.flex-column,
.flex-column-16,
.flex-column-32 {
  display: flex;
  flex-direction: column;
}

.flex-column-16 {
  gap: 16px;
}

.flex-column-32 {
  gap: 32px;
}

.left-align {
  text-align: left;
  align-items: start;
  margin-left: 30px;
}

.right-align {
  text-align: right;
  align-items: end;
  margin-right: 30px;
}

.stats-card {
  border-radius: 2em;
}