@use "sass:color";

// material color palette
@use "@material/theme/color-palette";

// custom defined colors
@use "@material/theme/index" as theme with ($primary: #008036,
  $secondary: #8BE283,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900);


// @use 'smui-theme';

// material typography
@use "@material/typography/mdc-typography";


@use "@material/elevation/mdc-elevation";

// import custom fonts 
// @import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');

// apply custom fonts to specific classes 
div[class^="mdc-typography--headline"] {
  font-family: 'Saira Extra Condensed', sans-serif !important;
  color: theme.$primary;
  letter-spacing: 2px;
}

// div[class^="mdc-"],
// Label {
//   font-family: 'Saira Semi Condensed', sans-serif;
// }


// other global properties
html,
body {
  // font-family: 'Saira Semi Condensed', sans-serif !important;
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0;
  padding: 0;
}

a {
  color: #40b3ff;
}

a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.uppercase {
  text-transform: uppercase;
}